{
    "semi": true,
    "singleQuote": true,
    "arrowParens": "avoid",
    "tabWidth": 4,
    "useTabs": false,
    "printWidth": 150,
    "plugins": ["@prettier/plugin-xml"],
    "overrides": [
        {
            "files": "*.xml",
            "options": {
                "parser": "xml"
            }
        }
    ]
}
